# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/
.history/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Environment variables
.env

# GIS/Geospatial
*.gdb
*.mdb
*.sqlite
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.cpg
*.qgs
*.qgz
*.aux.xml

# Others
*.bak